* {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  overflow: auto;
}
#site-name {
  color: firebrick;
  margin: 12px 24px;
  font-size: 25px;
  text-decoration: underline;
}

#navbar ul {
  display: flex;
}

#navbar ul li {
  list-style: none;
  font-size: 1.2rem;
}

#navbar ul li a {
  color: black;
  display: block;
  margin: 24px 36px;
  padding: 12px;
  text-decoration: none;
}
/* HOME */

#background-img {
  background-image: url(../images/bg.jpg);
  width: 100%;
  height: 610px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

#home div div {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;

  width: 100%;
  height: 580px;
}
#head-home {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 60px;
  margin: 25px 30px 40px 30px;
  color: yellowgreen;
  font-weight: bolder;
  background-color: black;
  border: 1px solid green;
  border-radius: 12px;
  padding: 8px 10px;
}
#detail {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  border: 1px solid green;
  background-color: black;
  border-radius: 10px;
  color: yellowgreen;
  padding: 4px 6px;
}
#background-img button {
  background-color: yellowgreen; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 14px;
}

/* Services */

#services {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: bisque;
  border: 2px solid black;
}
.services-detail {
  width: 30%;
  height: 250px;
  border: 1px solid green;
  border-radius: 10px;
  background-color: lightsteelblue;
}
#services div h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 6px 3px;
}
#services div p {
  margin-top: 10px;
  padding-top: 8px;
}
/*Contact*/
#contact {
  width: 100%;
  height: 150px;
  background-color: rgba(248, 239, 113, 0.904);
}
#contact-div {
}
